<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651068465170-gdfidg71e1stp4d5tt0dstb8lcpjmiat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651068465170-gdfidg71e1stp4d5tt0dstb8lcpjmiat</string>
	<key>API_KEY</key>
	<string>AIzaSyC6MNRkWt-93fIHkT2vwTtrsfuBhVh7uKs</string>
	<key>GCM_SENDER_ID</key>
	<string>651068465170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.superchat.firebase</string>
	<key>PROJECT_ID</key>
	<string>nextchatfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>nextchatfirebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651068465170:ios:8f7f8dbdbb91f4ca4d38cb</string>
</dict>
</plist>